.home{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.logo{
    width: 100%;
    height: 80px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: start;
    padding: 10px 30px;
    font-size: 30px;
}
.hero{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    gap: 20px;
    padding:10px 20px;
}
#tag{
    font-size: 2vmax;
}
.cate{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.upImg,.genImg,.chat{
    padding: 10px 20px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius:30px;
    font-size: 18px;
    cursor: pointer;
}
.upImg svg{
    width: 25px;
    height: 25px;
    color: green;
}
.genImg svg{
    width: 25px;
    height: 25px;
    color: rgb(7, 236, 240);
}
.chat svg{
    width: 25px;
    height: 25px;
    color: rgb(240, 155, 7);
}
#genImg{
    color: rgb(7, 236, 240);
}
.upImg:hover,.genImg:hover,.chat:hover{
    background-color: rgba(240,248,255,0.108);

}
.input-box{
    width: 100%;
    height: calc( 100vh - 80px - 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:0px 20px ;
    position: fixed;
    bottom: 0;
}
#add,#submit{
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: rgb(11, 16, 17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#add svg{
    width: 30px;
    height: 30px;
    
}
#submit svg{
    width: 25px;
    height: 25px;
}
form input{
    max-height: 60%;
    width: calc(100% - 120px);
    height:60px ;
    background-color: rgb(11, 16, 17);
    border: 2px solid rgba(255 , 255 ,255, 0.297);
    outline: none;
    border-radius: 30px ;
    color: white;
    padding: 10px 20px;
    font-size: 19px;
}
.chat-page{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.user,.ai{
    width: 100%;
    padding: 20px 30px;
    color: white;
    background-color: rgb(11, 16, 17);
    border: 2px solid rgba(255 , 255 ,255, 0.297);
    border-radius: 20px;
    font-size: 20px;
}
.pop-up{
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 120px;
    left: 1%;
    border-radius: 20px;
    /* background-color: #fff; */
    background-color: rgb(11, 16, 17);
    border: 2px solid rgba(255 , 255 ,255, 0.177);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}
.select-up,.select-gen{
    padding: 10px;
    color: white;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
.select-up svg{
    color: green;
    width: 20px;
    height: 20px;
}
.select-gen svg{
    color: rgb(7, 236, 240);
    width: 20px;
    height: 20px;
}
.select-up:hover,.select-gen:hover{
    background-color: rgba(240,248,255,0.108);
}
@media (max-width: 500px){
    #tag{
        font-size: 20px;
    }
}
